html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 64px;
    line-height: 75px;
}

h2 {
    font-size: 36px;
    line-height: 47px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
}

img {
    height: auto;
    width: 100%;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo__pic {
    width: 80px;
    height: 80px;
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background-color: #D94343;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    padding: 15px;
    width: 180px;
    height: 55px;
    cursor: pointer;
    transition: all 0.2s;
}

.button:hover {
    font-size: 20px;
    color: #ffe29a;
}

.header {
    padding: 5px 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
}

.navigation__item {
    cursor: pointer;
}

.navigation__item+.navigation__item {
    margin-left: 70px;
}

.navigation__item:hover,
.username:hover,
.active, .credits:hover {
    transition: all 0.2s;
    color: #D94343;
}

.username {
    color: #F8C02E;
    cursor: pointer;
}

.main-content__wrapper {
    padding-top: 100px;
}

.info__block {
    display: flex;
}

.info__text {
    max-width: 600px;
}

.info__title {
    color: #E14545;
    margin-bottom: 10px;
    margin-top: 0;
}

.info__subtitle {
    margin-bottom: 35px;
}

.info__photo {
    max-width: 500px;
    height: 500px;
}

.info-content {
    margin-bottom: 70px;
}

.opportunities__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.opportunity {
    width:330px;
    display: flex;
    flex-direction: column;
    text-align: center; 
}
.opportunity_plans{
    background: url('../img/plans.svg') no-repeat;
    background-size: 100%;
}
.opportunity_head {
    background: url('../img/bg1.svg') no-repeat;
    background-size: 100%;
}
.opportunity_girl {
    background: url('../img/girl.svg') no-repeat;
    background-size: 100%;
}
.opportunity__icon {
    margin: 10px auto 0 auto;
    display: block;
    width: 150px;
    height: 150px;
}
.opportunity__text {
    display: block;
    margin-bottom: 90px;
}
.footer {
    font-size: 14px;
}